<h1>Login page</h1>

<h2>Enjoy your read</h2>

<h3><i class="i.fas.fa-book-reader"></i>Read storybooks</h3>

<div class="section">
  <p class="lead">Create your own public or private storybooks</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="i.fab.fa-google left"></i>Log in with Google</a>
</div>