<h1>Login page</h1>

<h2>Enjoy reading storybooks here</h2>

<h3><i class="i.fas.fa-book-reader"></i></h3>

<div class="section">
  <h4 class="lead">Creative stories</h4>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="i.fab.fa-google left"></i>Log in with Google</a>
</div>